*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



@font-face {
  font-family: "symbols-technomart";
  font-weight: normal;
  font-style: normal;

  src: url("./../fonts/icons/symbols-technomart.woff") format("woff"),
  url("./../fonts/icons/symbols-technomart.woff2") format("woff2");
}


body {
  z-index: 12;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #000000;
  line-height: 24px;
}



h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: #32425c;
  line-height: 30px;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  min-height: 42px;
  background: #f1f5f7;
}

.top-header {
  min-height: 42px;
  margin-top: 0;
  background: #293449;
}

.logo,
.top-header__search,
.top-header__bookmarks,
.top-header__cart,
.top-header__order {
  float: left;
}

.logo {
  width: 220px;
  padding: 12px 0 6px 52px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  line-height: 24px;
  background: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
  text-decoration: none;
  text-transform: uppercase;
}

.logo:hover {
  background: #ca2c37;
}

.logo:active {
  background: #ba2732;
}

.top-header {
  font-size: 0;
}

[class^="top-header__"] {
  display: inline-block;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  font-weight: normal;
  color: #ffffff;
  line-height: 20px;
  vertical-align: middle;
  text-decoration: none;
}

.top-header__search {
  position: relative;
  width: 270px;
  margin: 0;
  padding: 0;
  outline: none;
}

.top-header input {
  /* not wordking with class top-header__search-input */
  float: left;
  box-sizing: border-box;
  width: 270px;
  margin: 0;
  margin-right: -50px;
  padding: 11px 0 11px 48px;
  border: none;
  color: #ffffff;
  outline: none;
  background: #293449;
}

.top-header__search:hover:after {
  opacity: 1;
}

.top-header__search-input:focus {
  color: #000000;
  background: #ffffff;
}

/* search icon */
.top-header__search::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 15px;
  width: 17px;
  height: 17px;
  opacity: .3;
  background: url("./../img/sprite.png") no-repeat;
  background-position: -37px -736px;
}


.top-header__bookmarks {
  width: 150px;
  margin: 0;
  padding: 0;
  padding-left: 45px;
}

.top-header__bookmark-link {
  position: relative;
  display: inline-block;
  width: 120px;
  margin: 0;
  padding: 11px 0 11px 0;
}

.top-header__bookmark-link:hover:before {
  opacity: 1;
}

.top-header__bookmark-link:before {
  content: "";
  position: absolute;
  top: 13px;
  left: -30px;
  width: 14px;
  height: 16px;
  opacity: .3;
  background: url("./../img/sprite.png") no-repeat;
  background-position: -64px -367px;
}

.top-header__bookmark-link:after {
  content: "0";
  position: absolute;
  top: 11px;
  left: 70px;
}

.top-header__cart,
.top-header__order {
  width: 150px;
}

.top-header__cart {
  background: #f04a56;
}

.top-header__cart-name {
  position: relative;
  width: 120px;
  margin: 0;
  padding: 11px 0 11px 48px;
}

.top-header__cart-name:before {
  content: "";
  position: absolute;
  top: 13px;
  left: 15px;
  width: 17px;
  height: 16px;
  opacity: .3;
  background: url("./../img/sprite.png") no-repeat;
  background-position: -10px -699px;
}

.top-header__cart-name:hover:before {
  opacity: 1;
}

.index .top-header__cart-name:after {
  content: "0";
  position: absolute;
  top: 11px;
  left: 110px;
}

.catalog .top-header__cart-name:after {
  content: "10";
  position: absolute;
  top: 11px;
  left: 110px;
}

.top-header__cart:active,
.top-header__bookmarks:active,
.top-header__cart:active:before {
  opacity: .6;
  background: #161d29;
}

.top-header__order {
  padding: 11px 0 11px 0;
  background: #63a63e;
  text-align: center;
}

.top-header__order:hover {
  opacity: .6;
  background: #5fbb2d;
}

.top-header__order:active {
  background: #518534;
}

/* mid-header */
.promo-block,
.header-contacts,
.user-block,
.main-nav {
  float: left;
}

.promo-block,
.header-contacts {
  width: 300px;
}

.promo-block {
  padding-top: 45px;
  padding-bottom: 40px;
  padding-left: 52px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #ee3643;
  font-style: italic;
  line-height: 23px;
}

.header-contacts {
  padding-top: 46px;
  padding-bottom: 40px;
}

.header-contacts__phone {
  position: relative;
  float: left;
  width: 270px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 70px;
  border: 3px solid #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  font-weight: normal;
  color: #ee3643;
  line-height: 18px;
  text-decoration: none;
}

.header-contacts__phone::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 15px;
  width: 19px;
  height: 19px;
  background: url("./../img/sprite.png") no-repeat;
  background-position: -59px -442px;
}



.header-contacts__adress {
  float: left;
  padding-top: 10px;
  padding-left: 10px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #32425c;
  line-height: 18px;
  text-align: center;
}

.user-block {
  float: right;
  width: 300px;
  padding-top: 45px;
  padding-bottom: 28px;
}

[class^="user-block__"] {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 20px;
  color: #000000;
  line-height: 18px;
  background: #ffffff;
  text-decoration: none;
}

.user-block__login {
  position: relative;
  width: 120px;
  padding-left: 48px;
}

.user-block__login:before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 20px;
  height: 17px;
  background: url("./../img/sprite.png") no-repeat;
  background-position: -10px -622px;
}

.user-block__login:hover,
.user-block__sign-up:hover {
  color: #ee3643;
}

.user-block__login:active,
.user-block__sign-up:active {
  color: #b2b2b2;
}

.user-block__login:active:after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 20px;
  height: 17px;
  background: url("./../img/sprite.png") no-repeat;
  background-position: -10px -622px;
}

.user-block__login:hover:before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 20px;
  height: 17px;
  background: url("./../img/sprite.png") no-repeat;
  background-position: -41px -599px;
}

.user-block__logout {
  position: relative;
  width: 300px;
  padding-left: 48px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
}

.user-block__logout::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 20px;
  height: 18px;
  opacity: .3;
  background: url("./../img/sprite.png") no-repeat;
  background-position: -40px -626px;
}

.user-block__logout:after {
  content: "";
  position: absolute;
  top: 12px;
  right: 12px;
  width: 21px;
  height: 17px;
  opacity: .3;
  background: url("./../img/sprite.png") no-repeat;
  background-position: -42px -514px;
}

.user-block__logout:hover:after,
.user-block__logout:hover:before {
  opacity: 1;
}

.user-block__logout:active {
  color: #b2b2b2;
}

.user-block__logout:active:before,
.user-block__logout:active:after {
  /* TODO зделать с помощью иконок */
  opacity: .3;
}

.user-block__sign-up {
  width: 150px;
  margin-left: 10px;
  padding-left: 24px;
}


.main-nav {
  width: 100%;
  margin-bottom: 60px;
  font-size: 0;
  background: #32425c;
  text-align: center;
}

.main-nav__item {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.main-nav__item a {
  display: inline-block;
  padding: 22px 30px 22px 30px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 17px;
  font-weight: normal;
  color: #ffffff;
  line-height: 17px;
  text-decoration: none;
}

.main-nav__item:hover {
  background: #293449;
}

.main-nav__item a:active {
  color: #868c95;
  background: #1d2739;
}

/* index-content */
.index-content {
  background: #ffffff;
}

.facility-item,
.index-slider {
  position: relative;
  float: left;
}

.facility-item::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 42px;
  background: url("./../img/sprite.png") no-repeat;
}


.facility-item:nth-child(1)::before {
  width: 44px;
  height: 65px;
  background-position: -10px -367px;
}

.facility-item:nth-child(2)::before {
  width: 75px;
  height: 61px;
  background-position: -10px -145px;
}

.facility-item:nth-child(3)::before {
  width: 78px;
  height: 62px;
  background-position: -10px -73px;
}

.facility-item:nth-child(5)::before {
  width: 59px;
  height: 72px;
  background-position: -10px -285px;
}

.facility-item:nth-child(6)::before {
  width: 78px;
  height: 63px;
  background-position: -10px -0;
}

.product-post--new::after,
.facility-item--new:after {
  content: "";
  position: absolute;
  z-index: 55;
  top: 0;
  right: 0;
  width: 60px;
  height: 59px;
  background: url("./../img/sprite.png") no-repeat;
  background-position: -10px -216px;
}



.facilities {
  margin-top: 60px;
  margin-bottom: 50px;
}

.facilities::after {
  content: "";
  display: table;
  clear: both;
}

.facility-item {
  width: 300px;
  padding-top: 20px;
  padding-bottom: 22px;
  padding-left: 25px;
}

.facility-item:nth-of-type(1) {
  margin-right: 20px;
  margin-bottom: 20px;
  background: #f6b22d;
}

.facility-item:nth-of-type(2) {
  margin-right: 20px;
  margin-bottom: 20px;
  background: #4aafde;
}

.facility-item:nth-of-type(3) {
  margin-bottom: 20px;
  background: #cc79d1;
}

.facility-item:nth-of-type(5) {
  margin-bottom: 20px;
  margin-left: 20px;
  background: #85d179;
}

.facility-item:nth-of-type(6) {
  margin-left: 20px;
  background: #f6b22d;
}

.facility-item__button {
  display: block;
  width: 135px;
  margin-top: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  color: #ffffff;
  line-height: 18px;
  background: rgba(0, 0, 0, .1);
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
}

.facility-item__button:hover {
  background: rgba(0, 0, 0, .2);
}

.facility-item__button:active {
  background: rgba(0, 0, 0, .3);
}

.facility-item__name {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  line-height: 30px;
  line-height: 30px;
}

/*  slider  */
.index-slider input {
  display: none;
}

.index-slider {
  position: relative;
  width: 620px;
  height: 266px;
}

.index-slider__inner {
  overflow: hidden;
}

.index-slider__slide {
  position: relative;
  float: left;
}

.index-slider__slides {
  width: 200%;
}

.index-slider__text {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 26px;
  margin-left: 26px;
}

.index-button--slider {
  position: absolute;
  bottom: 22px;
  left: 25px;
  width: 195px;
}

.index-button {
  display: inline-block;
  padding-top: 12px;
  padding-right: 45px;
  padding-bottom: 12px;
  padding-left: 45px;
  border-radius: 2px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
  line-height: 17px;
  background: #ee3643;
  vertical-align: middle;
  text-decoration: none;
}

.index-button:hover {
  background: #ca2c37;
}

.index-button:active {
  background: #ba2732;
}

.index-slider__title {
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 36px;
  font-weight: normal;
  color: #ffffff;
  line-height: 30px;
  text-transform: uppercase;
}

.index-slider__caption {
  padding-top: 10px;
  font-family: "PT Sans", "Arial-Black", sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  line-height: 24px;
}

.icon-slider__arrows {
  position: relative;

  widows: 100%;
}

/* left arrow */
.icon-left {
  position: absolute;
  top: 116px;
  left: 25px;
  width: 22px;
  height: 40px;
  background: url("./../img/sprite.png") no-repeat;
  background-position: -10px -514px;
}

/* right arrow */
.icon-right {
  position: absolute;
  top: 116px;
  right: 25px;
  width: 22px;
  height: 40px;
  background: url("./../img/sprite.png") no-repeat;
  background-position: -10px -514px;
  transform: rotate(180deg);
}



.index-slider__controls {
  position: absolute;
  bottom: 30px;
  left: 295px;
  width: 30px;
  height: 30px;
}


.index-slider__controls label {
  content: "";
  position: absolute;
  z-index: 10;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
}

.index-slider__controls label:first-child {
  bottom: 0;
  left: 0;
}

.index-slider__controls label:nth-child(2) {
  bottom: 0;
  left: 22px;
}



#button-1:checked ~ .index-slider__controls label[for="button-1"]:before,
#button-2:checked ~ .index-slider__controls label[for="button-2"]:before {
  content: "";
  position: absolute;
  z-index: 40;
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ee3643;
}


#button-1:checked ~ .index-slider__inner .index-slider__slides {
  transform: translateX(0px);
}

#button-2:checked ~ .index-slider__inner .index-slider__slides {
  transform: translateX(-620px);
}

/* pupular */
.popular-items {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  background: #f7f3ec;
  text-transform: uppercase;
}

.popular-items__text {
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 30px;
  vertical-align: middle;
}

.index-button--popular-items {
  float: right;
  width: 254px;
  margin-top: 26px;
  margin-right: 24px;
  margin-bottom: 26px;
  padding-left: 56px;
  vertical-align: middle;
}

.tools__content-wrapper,
.brands__content-wrapper {
  margin-top: 22px;
  font-size: 0;
}

.product-post {
  position: relative;
  display: inline-block;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-top: 25px;
  padding-right: 30px;
  padding-left: 30px;
  border: 1px solid #e5e5e5;
  background: #ffffff;
  text-align: center;
  vertical-align: top;
}

.product-post__img {
  position: relative;
  width: 144px;
  height: 128px;
  margin-bottom: 20px;
  background: #ffffff;
}

.product-post:hover > .product-post__img {
  position: relative;
  z-index: -1;
}


.product-post:hover {
  box-shadow: 5px 10px 30px 0 #a9adb5;
}


.product-post__text {
  margin-bottom: 12px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.product-post__old-price {
  margin-bottom: 10px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: #999999;
  line-height: 18px;
  text-decoration: line-through;
}

/* to keep heiht the same when there is no old pirce */
.product-post__text + .product-post__btn {
  margin-top: 40px;
}

.product-post__btn {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 9px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
  line-height: 18px;
  background: #ee3643;
  text-align: center;
  text-decoration: none;
}


.product-post__btn:after {
  content: "";
  position: absolute;
  right: -19px;
  bottom: 0;
  border: 19px solid #ffffff;
  border-left: 19px solid #ee3643;
}



.sort-menu__title {
  width: 210px;
}

.sort-menu__item:nth-child(n+1):nth-child(-n+3) {
  margin-right: 20px;
}

.sort-menu__item:last-child {
  margin-right: 20px;
}

.sort-menu__arrow {
  width: 40px;
}

.product-post:last-of-type {
  margin-right: 0;
}

/* tempararely */
.product-post__btns {
  position: absolute;
  z-index: -10;
  top: 22px;
  left: 20px;
  text-transform: uppercase;
}



.product-post:hover > .product-post__btns {
  z-index: 31;
}

.product-post__button-by {
  position: relative;
  width: 135px;
  margin-bottom: 7px;
  padding: 12px 0 12px 0;
  border-bottom: 3px solid #367315;
  color: #ffffff;
  background: #63a63e;
}

.product-post__button-by:hover {
  background: #5fbb2d;
}

.product-post__button-by:active {
  background: #518534;
}

.product-post__button-bookmark {
  position: relative;
  width: 135px;
  padding: 12px 0 12px 0;
  border: 3px solid #63a63e;
  color: #000000;
  background: #ffffff;
}

.product-post__button-bookmark:hover,
.product-post__button-bookmark:active {
  background: #ffffff;
}

.product-post__button-bookmark:hover {
  border-color: #32425c;
}

.product-post__button-bookmark:active {
  opacity: .3;
  border-color: #32425c;
}



.brands {
  margin-bottom: 86px;
}

.brand-logo {
  display: inline-block;
  width: 220px;
  margin-right: 20px;
  vertical-align: top;
}


.brand-logo:hover {
  box-shadow: 5px 10px 30px #a9adb5;
}

.brand-logo:active {
  opacity: .3;
  box-shadow: 5px 10px 30px #a9adb5;
  transform: translateY(4px);
}

.brand-logo img {
  display: block;
  border: 1px solid #e5e5e5;
}

.brand-logo:nth-of-type(4n) {
  margin-right: 0;
}

.brand-logo:nth-of-type(-n+4) {
  margin-bottom: 20px;
}

.services {
  float: left;
  width: 100%;
  background: #f2f6f8;
}

.services__title {
  padding-top: 65px;
  padding-left: 2px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
}

.services__text {
  width: 400px;
  margin-top: 36px;
  margin-bottom: 76px;
  padding: 2px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-slider__menu {
  display: inline-block;
  margin-bottom: 102px;
  vertical-align: top;
}

.services-slider__inner {
  display: inline-block;
  overflow: hidden;
  width: 380px;
  margin-left: 80px;
  vertical-align: top;
}



.services-slider label {
  display: block;
  width: 240px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 22px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  line-height: 30px;
  background: #32425c;
}

#btn-1:checked ~ .services-slider__menu .services-slider__controls label[for="btn-1"],
#btn-2:checked ~ .services-slider__menu .services-slider__controls label[for="btn-2"],
#btn-3:checked ~ .services-slider__menu .services-slider__controls label[for="btn-3"] {
  color: #32425c;
  background: #ffffff;
}

.services-slider__controls label:hover {
  background: #293449;
}

.services-slider input {
  display: none;
}

.services-slider__slides {
  width: 300%;
}

.services-slider__slides::after {
  content: "";
  display: table;
  clear: both;
}

.services-slider__slide {
  float: left;
  width: 380px;
}



.services-slider {
  position: relative;
}



#btn-1:checked ~ .services-slider__menu .services-slider__controls label[for="btn-1"]:after {
  content: "";
  position: absolute;
  z-index: 10px;
  right: -0;
  bottom: 0;
  width: 468px;
  height: 261px;
  background: url("./../img/bg-sprite.png") no-repeat;
  background-position: -10px -0;
}

#btn-2:checked ~ .services-slider__menu .services-slider__controls label[for="btn-2"]:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 465px;
  height: 285px;
  background: url("./../img/bg-sprite.png") no-repeat;
  background-position: -10px -271px;
}

#btn-3:checked ~ .services-slider__menu .services-slider__controls label[for="btn-3"]:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 389px;
  height: 283px;
  background: url("./../img/bg-sprite.png") no-repeat;
  background-position: -10px -566px;
}

.slide__title {
  margin-bottom: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  color: #32425c;
  line-height: 24px;
}

.slide-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  color: #000000;
  line-height: 24px;
}

#btn-1:checked ~ .services-slider__inner .services-slider__slides {
  transform: translateX(0);
}

#btn-2:checked ~ .services-slider__inner .services-slider__slides {
  transform: translateX(-380px);
}

#btn-3:checked ~ .services-slider__inner .services-slider__slides {
  transform: translate(-760px);
}

/* DELIVERY */
.delivery {
  width: 100%;
  font-size: 0;
}

.delivery-details,
.delivery-map {
  display: inline-block;
  margin-top: 74px;
  margin-bottom: 86px;
  vertical-align: top;
}

.delivery-details {
  width: 540px;
}

.delivery-map {
  width: 300px;
  margin-left: 100px;
}

.delivery-details__title,
.delivery-map__title {
  margin-bottom: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  color: #000000;
  line-height: 24px;
}

.delivery-map__map-snippet {
  margin-bottom: 40px;
}

.delivery-details__text,
.delivery-map__text {
  margin-bottom: 30px;
  padding-right: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  color: #000000;
  line-height: 24px;
}

.delivery-details__companies {
  list-style: none;
}

.delivery-details__companies li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 36px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  color: #000000;
  line-height: 20px;
}

.delivery-details__companies li:before {
  content: "\2014";
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  color: #fb565a;
  transform: scale(2.5, 1);
}

.delivery-details__companies {
  margin-bottom: 40px;
}

.index-button--delivery-details {
  padding-right: 45px;
}

.index-button--delivery-map {
  width: 100%;
  padding-right: 45px;
}

/* padding */
.footer-top {
  background: #32425c;
}

.footer-nav {
  float: left;
  margin-left: 100px;
  font-size: 0;
}

.footer-nav__item {
  display: inline-block;
  padding-top: 40px;
  padding-bottom: 10px;
  vertical-align: middle;
}

.footer-nav__item a {
  padding-right: 20px;
  padding-left: 20px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  color: #ffffff;
  line-height: 24px;
  text-decoration: none;
}

.logo--footer {
  padding-top: 18px;
  padding-bottom: 20px;
  padding-left: 36px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  line-height: 30px;
  text-decoration: none;
}

.footer-contancts {
  float: left;
  width: 380px;
  padding-top: 38px;
  padding-bottom: 50px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  color: #ffffff;
  line-height: 24px;
}

.services-nav {
  float: right;
  padding-top: 38px;
  font-size: 0;
}

.services-nav__item {
  display: inline-block;
  margin-left: 40px;
  vertical-align: middle;
}

.services-nav__item a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  color: #ffd180;
  line-height: 24px;
  text-decoration: none;
}

.footer-bottom {
  padding-top: 34px;
  padding-bottom: 26px;
  background: #293449;
}

.footer-copyright,
.footer-social,
.footer-feedback,
.footer-hire-us {
  display: inline-block;
  vertical-align: middle;
}

.footer-copyright {
  width: 320px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  color: #ffffff;
  line-height: 18px;
  text-decoration: none;
}

.footer-feedback__text,
.footer-feedback__mail {
  display: block;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

.footer-hire-us {
  width: 140px;
  margin-left: 70px;
}

.footer-social {
  width: 140px;
}

.footer-hire-us__text,
.footer-hire-us__link {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

.footer-feedback__text,
.footer-hire-us__text {
  color: #ffffff;
}

.footer-feedback__mail,
.footer-hire-us__link {
  color: #ffd180;
  text-decoration: none;
}

.breadcrumb__item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.breadcrumb {
  position: relative;
}

.breadcrumb__item a,
.breadcrumb__item span {
  display: inline-block;
  margin-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  color: #000000;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}


.breadcrumb__item:first-child a {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 15px;
  height: 12px;
  font-size: 13px;
  line-height: 18px;
  background: url("./../img/sprite.png");
  background-position: -10px -752px;
}

.breadcrumb__item:nth-child(2) {
  margin-left: 53px;
}

.breadcrumb__item:first-child:after {
  content: "";
  position: absolute;
  top: -7px;
  left: 29px;
  width: 8px;
  height: 12px;
  background: url("./../img/sprite.png");
  background-position: -70px -626px;
}

.breadcrumb__item:nth-child(n+3):after {
  content: "";
  position: absolute;
  top: 23px;
  left: -20px;
  width: 8px;
  height: 12px;
  background: url("./../img/sprite.png");
  background-position: -70px -626px;
}


.inner-main-title {
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 28px;
  background: #f2f6f8;
  text-transform: uppercase;
}

.filter-column {
  float: left;
  width: 220px;
  margin-right: 20px;
}

.filter-column__title {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  background: #f7f3ec;
  text-transform: uppercase;
}

.price-range {
  font-size: 0;
}

.price-range__title {
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.price-range__scroll-box {
  position: relative;
  width: 220px;
  height: 80px;
  margin-bottom: 10px;
  background: #f7f3ec;
}



.price-range input {
  display: none;
}

.price-range__scroll-box:before,
.price-range__scroll-box:after {
  content: "";
  position: absolute;
  z-index: 10;
  display: block;
  width: 20px;
  height: 20px;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background: #ababab;
}

.price-range__scroll-box:before {
  top: 30px;
  left: 20px;
}

.price-range__scroll-box:after {
  top: 30px;
  right: 40px;
}

.price-range__min,
.price-range__max {
  display: inline-block;
  width: 95px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  background: #f7f3ec;
  text-align: center;
  vertical-align: top;
}

.price-range__min-max {
  display: inline-block;
  margin-right: 7px;
  margin-left: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  background: #ffffff;
  vertical-align: middle;
}

.filter-options {
  margin-top: 26px;
  padding-top: 22px;
  border-top: 1px solid #e5e5e5;
}

.filter-options__title {
  margin-bottom: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-options input {
  display: none;
}

.filter-options label {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding-left: 34px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}



.filter-options--checkbox input:checked + label:before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  width: 27px;
  height: 23px;
  background: url("./../img/sprite.png") no-repeat;
  background-position: -10px -481px;
}

.filter-options--checkbox input:not(:checked) + label:before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  width: 23px;
  height: 23px;
  background: url("./../img/sprite.png") no-repeat;
  background-position: -47px -481px;
}

.filter-options--radio input + label:before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 4px solid #c1c1c1;
  border-radius: 50%;
  background: #ffffff;
}

.filter-options--radio input:checked + label:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #c1c1c1;
}

.filter-options input:disabled + label,
.filter-options input:disabled + label:before,
.filter-options input:disabled + label:after {
  opacity: .4;
}

.filter-options--radio input + label:hover,
.filter-options--radio input + label:before:hover,
.filter-options--radio input + label:after:hover {
  border: 4px solid #b5b5b5;
}




.form__button {
  display: block;
  width: 140px;
  margin-top: 75px;
  padding-top: 9px;
  padding-right: 40px;
  padding-bottom: 9px;
  padding-left: 40px;
  border: 1px solid #e5e5e5;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  background: #ffffff;
  text-transform: uppercase;
}

.preview-column {
  float: left;
  width: 700px;
}

.sort-menu {
  position: relative;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  background: #f7f3ec;
}

.sort-menu__item:nth-of-type(n+1):nth-of-type(-n+3) {
  border-bottom: 1px dotted #ee3643;
  color: #b2b2b2;
}

.sort-menu__item:nth-of-type(n+1):nth-of-type(-n+3):hover {
  border-bottom: 1px solid #ee3643;
  color: #000000;
}

.sort-menu__item:nth-of-type(n+1):nth-of-type(-n+3):active {
  border-bottom: none;
  color: #ee3643;
}


.sort-menu__arrow {
  content: "";
  position: absolute;
  top: 14px;
  right: 49px;
  width: 11px;
  height: 10px;
  background: url("./../img/sprite.png") no-repeat;
  background-position: -64px -729px;
}
.sort-menu__arrow--down {
  top: 14px;
  right: 17px;
  background-position: -64px -413px;
}

.sort-menu__arrow:hover {
  background-position: -64px -709px;
}


.sort-menu__arrow--down:hover {
  background-position: -64px -393px;
}

.sort-menu__arrow:active {
  background-position: -64px -749px;
}


.sort-menu__arrow--down:active {
  background-position: -59px -471px;
}



[class^="sort-menu__"] {
  display: inline-block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  vertical-align: middle;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
}

.posters-container {
  font-size: 0;
}

.preview-column .product-post:nth-of-type(3n) {
  margin-right: 0;
}

.paginator {
  margin-bottom: 60px;
  padding-left: 0;
  font-size: 0;
}

[class^="paginator__"] {
  display: inline-block;
  margin-right: 10px;
  padding-top: 9px;
  padding-right: 15px;
  padding-bottom: 9px;
  padding-left: 15px;
  border: 1px solid transparent;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  vertical-align: middle;
}

[class^="paginator__"] a,
[class^="paginator__"] span {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.paginator li:hover {
  border: 1px solid #bdc6ca;
}

.paginator li:active {
  border: 1px solid #ee3643;
}

.paginator__btn--active {
  border: 1px solid transparent;
  background: #ee3643;
}


.paginator__btn--active span {
  color: #ffffff;
}

.paginator__next {
  padding-right: 30px;
  padding-left: 30px;
}

.product-use {
  background: #f2f6f8;
}

.product-use__title {
  padding-top: 60px;
  padding-bottom: 36px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
}

.product-use__text {
  padding-bottom: 80px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.user-block__account,
.user-block__orders {
  position: relative;
  margin-right: 12px;
  margin-left: 20px;
  padding-top: 10px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  color: #32425c;
  line-height: 18px;
  background: none;
  text-decoration: underline;
}

.user-block__orders:before {
  content: "";
  position: absolute;
  top: 15px;
  right: -20px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #32425c;
}

.user-block__account:hover,
.user-block__orders:hover {
  color: #ee3643;
}

.user-block__account:active,
.user-block__orders:active {
  color: #b7bfc8;
}



.cart-notification {
  position: fixed;
  top: 410px;
  right: 50%;
  left: 50%;
  display: none;
  width: 620px;
  padding-top: 60px;
  background: #ffffff;
  box-shadow: 0 -5px 0 0 #ee3643;
  transform: translateX(-50%);
}
/* cross */
.cart-notification:before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;
  background: url("./../img/sprite.png") no-repeat;
  background-position: -41px -568px;
}


.cart-notification__title {
  position: relative;
  padding-top: 0;
  padding-bottom: 70px;
  padding-left: 175px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  color: #32425c;
  line-height: 30px;
}

.cart-notification__title:after {
  content: "";
  position: absolute;
  z-index: 10;
  top: -15px;
  left: 80px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #63a63e;
}

.cart-notification__title:before {
  content: "";
  position: absolute;
  z-index: 20;
  top: 5px;
  left: 95px;
  width: 39px;
  height: 29px;
  background: url("./../img/sprite.png") no-repeat;
  background-position: -10px -442px;
}





.cart-notification__choice {
  width: 100%;
  background: #f1f1f1;
  text-align: center;
  vertical-align: middle;
}


.cart-notification__btn {
  margin-top: 38px;
  margin-right: 20px;
  margin-bottom: 38px;
  padding: 10px 60px 10px 60px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  color: #ffffff;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.cart-notification__btn--order {
  display: inline-block;
  color: #ffffff;
  background: #ee3643;
}


.cart-notification__btn--continue {
  display: inline-block;
  color: #000000;
  background: #ffffff;
}
