* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #000000;
  line-height: 24px;
}



h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: #32425c;
  line-height: 30px;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  min-height: 42px;

  background: #f1f5f7;
}

.top-header {
  min-height: 42px;
  margin-top: 0;

  background: #293449;
}

.logo,
.top-header__search,
.top-header__bookmarks,
.top-header__cart,
.top-header__order {
  float: left;
}

.logo {
  width: 220px;
  padding: 9px 0 9px 50px;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  line-height: 24px;
  background: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;

  text-decoration: none;
  text-transform: uppercase;
}



.logo:hover {
  background: #ca2c37;
}
.logo:active {
  background: #ba2732;
}



.top-header {
  font-size: 0;
}

[class^="top-header__"] {
  display: inline-block;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  font-weight: normal;
  color: #ffffff;
  line-height: 20px;

  vertical-align: middle;
  text-decoration: none;
}

.top-header__search {
  position: relative;
  width: 270px;
  margin: 0;
  padding: 0;

  outline: none;
}

.top-header input {
  /* not wordking with class top-header__search-input */
  float: left;
  box-sizing: border-box;
  width: 270px;
  margin: 0;
  margin-right: -50px;
  padding: 11px 0 11px 48px;

  color: #ffffff;
  outline: none;
  background: #293449;

  border: none;
}

.top-header__search:hover:after {
  opacity: 1;
}
.top-header__search-input:focus {
  color: #000000;
  background: #ffffff;
}


.top-header__search::after {
  content: "🔍";
  position: absolute;
  top: 10px;
  left: 0;
  display: inline-block;
  width: 1em;
  margin-right: .2em;
  margin-left: .2em;
  padding-right: 8px;
  padding-left: 10px;

  font-family: "symbols-technomart";
  font-weight: normal;
  color: #ffffff;
  font-style: normal;
  font-variant: normal;
  line-height: 1em;
  opacity: .3;

  text-align: center;
  text-decoration: inherit;
  text-transform: none;

  speak: none;
}



.top-header__bookmarks {
  position: relative;
  width: 150px;
  margin: 0;
  padding: 0;

  font-size: 0;
  font-size: 0;
}

.top-header__bookmark-link {
  display: inline-block;
  width: 120px;
  margin: 0;
  padding: 11px 0 11px 0;
}

.top-header__bookmark-link:hover:before {
  opacity: 1;
}

.top-header__bookmark-link:before {
  content: "🔖";
  top: 30px;
  display: inline-block;
  width: 1em;
  margin-right: .2em;
  margin-left: .2em;
  padding: absolute;
  padding-right: 8px;
  padding-left: 10px;

  font-family: "symbols-technomart";
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1em;
  opacity: .3;

  text-align: center;
  text-decoration: inherit;
  text-transform: none;

  speak: none;
}

.top-header__bookmarks-amount,
.top-header__items {
  margin: 0;
  padding: 0;

  font-style: normal;

  text-align: left;
}

.top-header__cart,
.top-header__order {
  width: 150px;
}

.top-header__cart-name {
  position: relative;
  width: 120px;
  margin: 0;
  padding: 11px 0 11px 48px;
}

.top-header__cart-name:before {
  content: "\62";
  position: absolute;
  top: 30px;
  top: 10px;
  left: 0;
  display: inline-block;
  width: 1em;
  margin-right: .2em;
  margin-left: .2em;
  padding: absolute;
  padding-right: 8px;
  padding-left: 10px;

  font-family: "symbols-technomart";
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1em;
  opacity: .3;

  text-align: center;
  text-decoration: inherit;
  text-transform: none;

  speak: none;
}

.top-header__cart-name:hover:before {
  opacity: 1;
}

.top-header__cart:active,
.top-header__bookmarks:active,
.top-header__cart:active:before,
.top-header__bookmarks:active:before {
  opacity: .6;
  background: #161d29;
}

.top-header__order {
  padding: 11px 0 11px 0;

  background: #63a63e;

  text-align: center;
}

.top-header__order:hover {
  opacity: .6;
  background: #5fbb2d;
}

.top-header__order:active {
  background: #518534;
}





/* mid-header */
.promo-block,
.header-contacts,
.user-block,
.main-nav {
  float: left;
}

.promo-block,
.header-contacts {
  width: 300px;
}

.promo-block {
  padding-top: 48px;
  padding-bottom: 40px;
  padding-left: 52px;

  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #ee3643;
  font-style: italic;
  line-height: 23px;
}

.header-contacts {
  padding-top: 46px;
  padding-bottom: 40px;
  padding-left: 10px;
}

.header-contacts__phone {
  float: left;
  width: 270px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 70px;

  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 21px;
  font-weight: normal;
  color: #ee3643;
  line-height: 18px;

  text-decoration: none;

  border: 3px solid #ffffff;
}

.header-contacts__adress {
  float: left;

  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #32425c;
  line-height: 24px;

  text-align: center;
}

.user-block {
  width: 300px;
  margin-top: 46px;
  margin-left: 38px;
}


[class^="user-block__"] {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;

  font-size: 20px;
  color: #000000;
  line-height: 18px;
  background: #ffffff;

  text-decoration: none;
}

.user-block__login {
  width: 120px;
  padding-left: 50px;
}

.user-block__logout {
  width: 300px;

  text-align: center;
}

.user-block__sign-up {
  width: 150px;
  margin-left: 10px;
  padding-left: 24px;
}

.main-nav {
  width: 940px;
  margin-bottom: 60px;

  font-size: 0;
  background: #32425c;
}

.main-nav__item {
  display: inline-block;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 50px;

  vertical-align: middle;
}

.main-nav__item a {
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 17px;
  font-weight: normal;
  color: #ffffff;
  line-height: 17px;

  text-decoration: none;
}

/* index-content */
.index-content {
  background: #ffffff;
}

.facility-item,
.index-slider {
  float: left;
}

.facilities {
  margin-top: 60px;
  margin-bottom: 50px;
}

.facilities::after {
  content: "";
  display: table;
  clear: both;
}

.facility-item {
  width: 300px;
  padding-top: 20px;
  padding-bottom: 22px;
  padding-left: 25px;
}

.facility-item:nth-of-type(1) {
  margin-right: 20px;
  margin-bottom: 20px;

  background: #f6b22d;
}

.facility-item:nth-of-type(2) {
  margin-right: 20px;
  margin-bottom: 20px;

  background: #4aafde;
}

.facility-item:nth-of-type(3) {
  margin-bottom: 20px;

  background: #cc79d1;
}

.facility-item:nth-of-type(5) {
  margin-bottom: 20px;
  margin-left: 20px;

  background: #85d179;
}

.facility-item:nth-of-type(6) {
  margin-left: 20px;

  background: #f6b22d;
}

.facility-item__button {
  display: block;
  width: 135px;
  margin-top: 8px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 14px;
  color: #ffffff;
  line-height: 18px;
  background: rgba(0, 0, 0, .1);

  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
}

.facility-item__name {
  font-size: 24px;
  color: #ffffff;
  line-height: 30px;
}

/*  slider  */
.index-slider input {
  display: none;
}

.index-slider {
  position: relative;
  width: 620px;
  height: 266px;
}

.index-slider__inner {
  overflow: hidden;
}

.index-slider__slide {
  position: relative;
  float: left;
}

.index-slider__slides {
  width: 200%;
}

.index-slider__text {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 26px;
  margin-left: 26px;
}

.index-button--slider {
  position: absolute;
  bottom: 22px;
  left: 25px;
  width: 195px;
}

.index-button {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 45px;

  border-radius: 2px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
  line-height: 17px;
  background: #ee3643;

  vertical-align: middle;
  text-decoration: none;
}

.index-slider__title {
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 36px;
  font-weight: normal;
  color: #ffffff;
  line-height: 30px;

  text-transform: uppercase;
}

.index-slider__caption {
  padding-top: 10px;

  font-family: "PT Sans", "Arial-Black", sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  line-height: 24px;
}

.index-slider__arrows label {
  /* TODO make arrows */
  position: absolute;
  top: 135px;
  width: 20px;
  height: 20px;

  border: 10px solid white;
}

.icon-left {
  left: 40px;
}
.icon-right {
  right: 40px;
}

#button-1:checked ~ .index-slider__inner .index-slider__slides {
  transform: translateX(0px);
}
#button-2:checked ~ .index-slider__inner .index-slider__slides {
  transform: translateX(-620px);
}


/* pupular */
.popular-items {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  background: #f7f3ec;

  text-transform: uppercase;
}

.popular-items__text {
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 30px;

  vertical-align: middle;
}

.index-button--popular-items {
  float: right;
  width: 254px;
  margin-top: 26px;
  margin-right: 24px;
  margin-bottom: 26px;
  padding-left: 56px;

  vertical-align: middle;
}

.tools__content-wrapper,
.brands__content-wrapper {
  margin-top: 22px;

  font-size: 0;
}

.product-post {
  display: inline-block;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-top: 25px;
  padding-right: 30px;
  padding-left: 30px;

  text-align: center;
  vertical-align: top;

  border: 1px solid #e5e5e5;
}

.product-post__img {
  margin-bottom: 20px;
}

.product-post__text {
  margin-bottom: 12px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.product-post__old-price {
  margin-bottom: 10px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: #999999;
  line-height: 18px;

  text-decoration: line-through;
}

.product-post__text + .product-post__btn {
  margin-top: 40px;
}

.product-post__btn {
  display: block;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
  line-height: 18px;
  background: #ee3643;

  text-align: center;
  text-decoration: none;
}

.sort-menu__title {
  width: 210px;
}

.sort-menu__item:nth-child(n+1):nth-child(-n+3) {
  width: 100px;
  margin-right: 20px;
}

.sort-menu__item:last-child {
  width: 140px;
  margin-right: 20px;
}

.sort-menu__arrow {
  width: 40px;
}

.product-post:last-of-type {
  margin-right: 0;
}

/* tempararely */
.product-post__button-by,
.product-post__button-bookmark {
  display: none;
}

.brands {
  margin-bottom: 86px;
}

.brand-logo {
  display: inline-block;
  width: 220px;
  margin-right: 20px;

  vertical-align: top;
}

.brand-logo img {
  display: block;

  border: 1px solid #e5e5e5;
}

.brand-logo:nth-of-type(4n) {
  margin-right: 0;
}

.brand-logo:nth-of-type(-n+4) {
  margin-bottom: 20px;
}

.services {
  float: left;
  width: 100%;

  background: #f2f6f8;
}

.services__title {
  padding-top: 65px;
  padding-left: 2px;

  font-family: "Cuprum","Arial",sans-serif;
  font-size: 30px;
  line-height: 24px;

  text-transform: uppercase;
}

.services__text {
  width: 400px;
  margin-top: 36px;
  margin-bottom: 76px;
  padding: 2px;

  font-family: "PT Sans","Arial",sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-slider__menu {
  display: inline-block;
  margin-bottom: 102px;

  vertical-align: top;
}

.services-slider__inner {
  display: inline-block;
  overflow: hidden;
  width: 300px;
  margin-left: 80px;

  vertical-align: top;
}

.services-slider label {
  display: block;
  width: 240px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 22px;

  font-family: "Cuprum","Arial",sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  line-height: 30px;
  background: #32425c;
}

#btn-1:checked ~ .services-slider__menu .services-slider__controls label[for="btn-1"],
#btn-2:checked ~ .services-slider__menu .services-slider__controls label[for="btn-2"],
#btn-3:checked ~ .services-slider__menu .services-slider__controls label[for="btn-3"] {
  color: #32425c;
  background: #ffffff;
}

.services-slider input {
  display: none;
}

.services-slider__slides {
  width: 300%;
}

.services-slider__slides::after {
  content: "";
  display: table;
  clear: both;
}

.services-slider__slide {
  float: left;
  width: 300px;
}

.slide__title {
  margin-bottom: 30px;

  font-family: "Cuprum","Arial",sans-serif;
  font-size: 36px;
  color: #32425c;
  line-height: 24px;
}

.slide-text {
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 13px;
  color: #000000;
  line-height: 24px;
}

#btn-1:checked ~ .services-slider__inner .services-slider__slides {
  transform: translateX(0);
}
#btn-2:checked ~ .services-slider__inner .services-slider__slides {
  transform: translateX(-300px);
}

#btn-3:checked ~ .services-slider__inner .services-slider__slides {
  transform: translate(-600px);
}


/* DELIVERY */
.delivery {
  width: 100%;

  font-size: 0;
}

.delivery-details,
.delivery-map {
  display: inline-block;
  margin-top: 74px;
  margin-bottom: 86px;

  vertical-align: top;
}

.delivery-details {
  width: 540px;
}
.delivery-map {
  width: 300px;
  margin-left: 100px;
}

.delivery-details__title,
.delivery-map__title {
  margin-bottom: 30px;

  font-family: "Cuprum","Arial",sans-serif;
  font-size: 30px;
  color: #000000;
  line-height: 24px;
}

.delivery-map__map-snippet {
  margin-bottom: 40px;
}

.delivery-details__text,
.delivery-map__text {
  margin-bottom: 30px;
  padding-right: 20px;

  font-family: "PT Sans","Arial",sans-serif;
  font-size: 13px;
  color: #000000;
  line-height: 24px;
}



.delivery-details__companies li {
  margin-bottom: 20px;

  font-family: "PT Sans","Arial",sans-serif;
  font-size: 18px;
  color: #000000;
  line-height: 20px;
}

.delivery-details__companies {
  margin-bottom: 40px;
}

.index-button--delivery-details {
  padding-right: 45px;
}

.index-button--delivery-map {
  width: 100%;
  padding-right: 45px;
}

/* padding */
.footer-top {
  background: #32425c;
}

.footer-nav {
  float: left;
  margin-left: 100px;

  font-size: 0;
}

.footer-nav__item {
  display: inline-block;
  padding-top: 40px;
  padding-bottom: 10px;

  vertical-align: middle;
}

.footer-nav__item a {
  padding-right: 20px;
  padding-left: 20px;

  font-family: "Cuprum","Arial",sans-serif;
  font-size: 18px;
  color: #ffffff;
  line-height: 24px;

  text-decoration: none;
}

.logo--footer {
  padding-top: 18px;
  padding-bottom: 20px;
  padding-left: 36px;

  font-family: "Cuprum","Arial",sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  line-height: 30px;

  text-decoration: none;
}

.footer-contancts {
  float: left;
  width: 380px;
  padding-top: 38px;
  padding-bottom: 50px;

  font-family: "Cuprum","Arial",sans-serif;
  font-size: 18px;
  color: #ffffff;
  line-height: 24px;
}

.services-nav {
  float: right;
  padding-top: 38px;

  font-size: 0;
}

.services-nav__item {
  display: inline-block;
  margin-left: 40px;

  vertical-align: middle;
}

.services-nav__item a {
  font-family: "Cuprum","Arial",sans-serif;
  font-size: 18px;
  color: #ffd180;
  line-height: 24px;

  text-decoration: none;
}

.footer-bottom {
  padding-top: 34px;
  padding-bottom: 26px;

  background: #293449;
}

.footer-copyright,
.footer-social,
.footer-feedback,
.footer-hire-us {
  display: inline-block;

  vertical-align: middle;
}

.footer-copyright {
  width: 320px;

  font-family: "Cuprum","Arial",sans-serif;
  font-size: 16px;
  color: #ffffff;
  line-height: 18px;

  text-decoration: none;
}

.footer-feedback__text,
.footer-feedback__mail {
  display: block;

  font-family: "Cuprum","Arial",sans-serif;
  font-size: 16px;
  line-height: 18px;

  text-decoration: none;
}

.footer-hire-us {
  width: 140px;
  margin-left: 70px;
}

.footer-social {
  width: 140px;
}

.footer-hire-us__text,
.footer-hire-us__link {
  display: block;
  margin: 0;
  padding: 0;

  font-family: "Cuprum","Arial",sans-serif;
  font-size: 16px;
  line-height: 18px;

  text-decoration: none;
}

.footer-feedback__text,
.footer-hire-us__text {
  color: #ffffff;
}

.footer-feedback__mail,
.footer-hire-us__link {
  color: #ffd180;

  text-decoration: none;
}

.breadcrumb__item {
  display: inline-block;

  vertical-align: middle;
}

.breadcrumb__item a {
  padding-top: 20px;
  padding-bottom: 20px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  color: #000000;
  line-height: 18px;

  text-decoration: none;
  text-transform: uppercase;
}

.inner-main-title {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 28px;

  background: #f2f6f8;
}


.filter-column {
  float: left;
  width: 220px;
  margin-right: 20px;
}

.filter-column__title {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;

  background: #f7f3ec;

  text-transform: uppercase;
}

.price-range {
  font-size: 0;
}

.price-range__title {
  margin-top: 12px;
  margin-bottom: 12px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;

  text-transform: uppercase;
}

.price-range__scroll-box {
  position: relative;
  width: 220px;
  height: 80px;
  margin-bottom: 10px;

  background: #f7f3ec;
}

.price-range input {
  display: none;
}

.price-range__scroll-box:before,
.price-range__scroll-box:after {
  content: "";
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;

  border-radius: 50%;
  background: #ababab;

  border: 8px solid #ffffff;
}

.price-range__scroll-box:before {
  top: 30px;
  left: 20px;
}

.price-range__scroll-box:after {
  top: 30px;
  right: 40px;
}


.price-range__min,
.price-range__max {
  display: inline-block;
  width: 95px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  background: #f7f3ec;

  text-align: center;
  vertical-align: top;

  border: none;
}

.price-range__min-max {
  display: inline-block;
  margin-right: 7px;
  margin-left: 7px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  background: #ffffff;

  vertical-align: middle;
}


.filter-options {
  margin-top: 26px;
  padding-top: 22px;

  border-top: 1px solid #e5e5e5;
}

.filter-options__title {
  margin-bottom: 20px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;

  text-transform: uppercase;
}

.filter-options input {
  display: none;
}

.filter-options label {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding-left: 34px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;

  text-transform: uppercase;
}

.filter-options label:before {
  content: ".";
  position: absolute;
  left: -1px;
}

.form__button {
  display: block;
  width: 140px;
  margin-top: 75px;
  padding-top: 9px;
  padding-right: 40px;
  padding-bottom: 9px;
  padding-left: 40px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  background: #ffffff;

  text-transform: uppercase;

  border: 1px solid #e5e5e5;
}


.preview-column {
  float: left;
  width: 700px;
}

.sort-menu {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;

  background: #f7f3ec;
}

[class^="sort-menu__"] {
  display: inline-block;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;

  vertical-align: middle;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
}

.posters-container {
  font-size: 0;
}

.preview-column .product-post:nth-of-type(3n) {
  margin-right: 0;
}

.paginator {
  margin-bottom: 60px;
  padding-left: 0;

  font-size: 0;
}

[class^="paginator__"] {
  display: inline-block;
  margin-right: 10px;
  padding-top: 9px;
  padding-right: 15px;
  padding-bottom: 9px;
  padding-left: 15px;

  border-radius: 2px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;

  vertical-align: middle;

  border: 1px solid #e5e5e5;
}

[class^="paginator__"] a,
[class^="paginator__"] span {
  color: #000000;

  text-decoration: none;
  text-transform: uppercase;
}

.paginator__btn--active {
  background: #ee3643;

  border: none;
}

.paginator__btn--active span {
  color: #ffffff;
}

.paginator__next {
  padding-right: 30px;
  padding-left: 30px;
}

.product-use {
  background: #f2f6f8;
}


.product-use__title {
  padding-top: 60px;
  padding-bottom: 36px;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 24px;

  text-transform: uppercase;
}

.product-use__text {
  padding-bottom: 80px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.user-block__account,
.user-block__orders {
  margin-left: 20px;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  color: #32425c;
  line-height: 18px;
  background: none;

  text-decoration: underline;
}
